@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Thin.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Thin.woff") format("woff");
  font-weight: 1;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Thin.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ThinItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ThinItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 1;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Light.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-LightItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Italic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-BoldItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Black.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-BlackItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Noto Sans";
  src: local("Noto Sans"), local("NotoSans"), url("../fonts/noto/notosans.woff2") format("woff2"), url("../fonts/noto/notosans.woff") format("woff"), url("../fonts/noto/notosans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: local("Noto Sans Italic"), local("NotoSans-Italic"), url("../fonts/noto/notosansitalic.woff2") format("woff2"), url("../fonts/noto/notosansitalic.woff") format("woff"), url("../fonts/noto/notosansitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Noto Sans";
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url("../fonts/noto/notosansbold.woff2") format("woff2"), url("../fonts/noto/notosansbold.woff") format("woff"), url("../fonts/noto/notosansbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: local("Noto Sans Bold Italic"), local("NotoSans-BoldItalic"), url("../fonts/noto/notosansbolditalic.woff2") format("woff2"), url("../fonts/noto/notosansbolditalic.woff") format("woff"), url("../fonts/noto/notosansbolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

section,
header,
main,
footer {
  padding: 0 100px;
}
@media screen and (max-width: 1199px) {
  section,
header,
main,
footer {
    padding: 0 50px;
  }
}
@media screen and (max-width: 768px) {
  section,
header,
main,
footer {
    padding: 0 20px;
  }
}

body {
  margin: 0;
  background: #000000;
  font-family: "Montserrat", serif;
  color: #fff;
  overflow-x: hidden;
}

.title {
  margin: 0;
  font-family: inherit;
  font-size: 51px;
  font-style: normal;
  font-weight: 700;
  line-height: 62px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1199px) {
  .title {
    font-family: inherit;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-family: inherit;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
  }
}

.text {
  position: relative;
  z-index: 1;
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
@media screen and (max-width: 768px) {
  .text {
    font-family: "Noto Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
}

.cookies {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 0 50px;
  width: 100%;
  height: 93px;
  background: #212834;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
}
.cookies__button {
  width: 100%;
  max-width: 130px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 0.5px solid #FFFFFF;
  border-radius: 6px;
  color: #fff;
  font-family: "Noto Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
}
.cookies__button:hover {
  background: rgba(255, 255, 255, 0.84);
  color: black;
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
@media screen and (max-width: 1199px) {
  .header {
    width: 100%;
    justify-content: space-between;
  }
}
.header__logoContainer {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 10px 0;
  margin: 0 100px 0 0;
}
@media screen and (max-width: 1199px) {
  .header__logo {
    max-width: 75px;
  }
}
@media screen and (max-width: 429px) {
  .header__logo {
    max-width: 50px;
  }
}
.header__title {
  font-family: inherit;
  font-size: 44px;
  font-style: normal;
  font-weight: bold;
  margin: 0;
}
@media screen and (max-width: 1199px) {
  .header__title {
    font-size: 32px;
  }
}
@media screen and (max-width: 429px) {
  .header__title {
    max-width: 24px;
  }
}
.header__loginContainer {
  display: flex;
  align-items: center;
}
.header__loginImg {
  margin: 0 15px 0 0;
}
@media screen and (max-width: 429px) {
  .header__loginImg {
    display: none;
  }
}
.header__loginLink {
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  position: relative;
}
.header__loginLink:after {
  content: "";
  height: 1px;
  width: 0;
  background: #fff;
  transition: all 0.2s ease;
  position: absolute;
  bottom: 0;
  left: 0;
}
.header__loginLink:hover:after {
  width: 100%;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1199px) {
  .main {
    padding-right: 0;
  }
}
.main__column-1 {
  width: 50%;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .main__column-1 {
    width: 70%;
  }
}
.main__descriptionContainer {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .main__circle {
    display: none;
  }
}
.main__description {
  max-width: 380px;
  align-self: center;
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  transform: translateX(-120px) translateY(40px);
}
@media screen and (max-width: 1199px) {
  .main__description {
    transform: none;
  }
}
@media screen and (max-width: 429px) {
  .main__description {
    font-size: 16px;
    line-height: 20px;
    max-width: 280px;
  }
}
.main__title {
  font-family: inherit;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
}
@media screen and (max-width: 1199px) {
  .main__title {
    font-size: 54px;
    margin-bottom: 0;
    line-height: 50px;
  }
}
@media screen and (max-width: 768px) {
  .main__title {
    font-size: 40px;
  }
}
@media screen and (max-width: 429px) {
  .main__title {
    font-size: 30px;
    line-height: 40px;
  }
}
.main__column-2 {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .main__column-2 {
    width: 30%;
  }
}
.main__phoneImage {
  width: 100%;
  max-width: 532px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .main__phoneImage {
    width: 320px;
    transform: translateX(50%);
  }
}
.main__bg {
  position: absolute;
  top: 0;
  right: -100px;
  z-index: 0;
}

.download {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 160px;
}
@media screen and (max-width: 1199px) {
  .download {
    padding-right: 50px;
  }
}
@media screen and (max-width: 768px) {
  .download {
    flex-direction: column;
  }
}
.download__title {
  margin: 0;
  font-family: inherit;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
}
@media screen and (max-width: 1199px) {
  .download__title {
    font-size: 24px;
  }
}
.download__linksContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 380px;
}
@media screen and (max-width: 768px) {
  .download__linksContainer {
    flex-direction: column;
    align-items: center;
  }
}
.download__linkImage {
  width: 100%;
  height: 50px;
  max-width: 160px;
}
@media screen and (max-width: 768px) {
  .download__linkImage {
    margin-bottom: 15px;
  }
}
.download__link {
  border-radius: 10px;
  transition: all 0.2s ease;
}
.download__link:hover {
  transform: scale(1.05);
  box-shadow: 15px 5px 15px rgba(236, 236, 236, 0.1);
}

.questions {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  min-height: 80vh;
  padding: 0 20px;
}
@media screen and (max-width: 1199px) {
  .questions {
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
  }
}
.questions__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  min-height: 300px;
  padding: 20px 50px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 21.3671px;
}
.questions__container:first-child {
  margin-right: 20px;
}
@media screen and (max-width: 1199px) {
  .questions__container:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .questions__container {
    padding: 10px 25px;
    min-height: 200px;
  }
}
.questions__text {
  font-family: "Noto Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 41px;
}
@media screen and (max-width: 768px) {
  .questions__text {
    font-size: 24px;
    line-height: 33px;
  }
}
.questions__link {
  font-family: "Noto Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .questions__link {
    font-size: 18px;
    line-height: 25px;
  }
}

.ourMission {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}
@media screen and (max-width: 1199px) {
  .ourMission {
    flex-direction: column-reverse;
    margin-top: 100px;
  }
}
@media screen and (max-width: 1199px) {
  .ourMission__container {
    align-self: start;
  }
}
.ourMission__content {
  max-width: 400px;
  position: relative;
}
.ourMission__image {
  width: 50%;
  transform: rotate(90deg) translateY(30%);
}
@media screen and (max-width: 1199px) {
  .ourMission__image {
    width: 100%;
    transform: none;
  }
}
.ourMission__title {
  position: relative;
  z-index: 1;
}
.ourMission__text {
  position: relative;
  z-index: 1;
}
.ourMission__circle {
  width: 85px;
  height: 85px;
  background: #F101BF;
  opacity: 0.7;
  filter: blur(50px);
  position: absolute;
  top: -10%;
  right: 10%;
  z-index: 0;
}
@media screen and (max-width: 768px) {
  .ourMission__circle {
    left: 0;
  }
}

.scanner {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
}
.scanner__imgContainer {
  display: flex;
  height: fit-content;
  margin-right: 20px;
  transform: translateY(-70%);
}
@media screen and (max-width: 1199px) {
  .scanner__imgContainer {
    transform: none;
  }
}
@media screen and (max-width: 768px) {
  .scanner__imgContainer {
    margin-right: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
.scanner__img:first-child {
  margin-right: 50px;
}
@media screen and (max-width: 768px) {
  .scanner__img:first-child {
    margin-right: 0;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  .scanner__img {
    width: 100%;
    max-width: 350px;
  }
}
.scanner__content {
  height: 300px;
  padding: 0 100px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1199px) {
  .scanner__content {
    flex-direction: column-reverse;
    justify-content: flex-start;
    height: fit-content;
    align-items: center;
    padding: 0 50px;
  }
}
@media screen and (max-width: 768px) {
  .scanner__content {
    padding: 0 20px;
  }
}
.scanner__textContent {
  max-width: 400px;
  transform: translateY(-30%);
}
@media screen and (max-width: 1199px) {
  .scanner__textContent {
    max-width: none;
  }
}
.scanner__bg {
  width: 100%;
}

.integration {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-top: 100px;
  width: 100%;
}
@media screen and (max-width: 1199px) {
  .integration {
    flex-direction: column;
    align-items: center;
  }
}
.integration__textContent {
  max-width: 497px;
}
@media screen and (max-width: 1199px) {
  .integration__textContent {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 768px) {
  .integration__textContent {
    margin-bottom: 150px;
  }
}
.integration__graphics {
  width: 100%;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .integration__graphics {
    max-width: 300px;
    min-height: 300px;
  }
}
.integration__graph-blueCircles {
  position: absolute;
  top: 0;
  left: 70px;
}
.integration__graph-blueGraphWithDots {
  position: absolute;
  top: 100px;
  left: 200px;
  z-index: 1;
}
.integration__graph-blueVerticalGraph {
  position: absolute;
  top: 200px;
  left: 100px;
}
.integration__graph-dataGraph {
  position: absolute;
  top: 250px;
  left: 350px;
}
.integration__graph-lamp {
  position: absolute;
  top: 0;
  left: 380px;
}
.integration__graph-monochromeGraph {
  position: absolute;
  top: -200px;
  left: 250px;
}
.integration__graph-pinkBlueGraph {
  position: absolute;
  top: 70px;
  left: -50px;
}
@media screen and (max-width: 1199px) {
  .integration__graph {
    width: 50%;
  }
  .integration__graph-blueCircles {
    position: absolute;
    top: 0;
    left: -100px;
  }
  .integration__graph-blueGraphWithDots {
    position: absolute;
    top: -50px;
    left: 200px;
    z-index: 1;
  }
  .integration__graph-blueVerticalGraph {
    position: absolute;
    top: 50px;
    left: 50px;
  }
  .integration__graph-dataGraph {
    width: 100%;
    position: absolute;
    top: 150px;
    left: 350px;
  }
  .integration__graph-lamp {
    position: absolute;
    top: -40%;
    left: 330px;
  }
  .integration__graph-monochromeGraph {
    width: 80%;
    position: absolute;
    top: 100px;
    left: -200px;
  }
  .integration__graph-pinkBlueGraph {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .integration__graph {
    width: 40%;
  }
  .integration__graph-blueCircles {
    position: absolute;
    top: 0;
    left: -20px;
  }
  .integration__graph-blueGraphWithDots {
    position: absolute;
    top: -50px;
    left: 120px;
    z-index: 1;
  }
  .integration__graph-blueVerticalGraph {
    position: absolute;
    top: 50px;
    left: 100px;
  }
  .integration__graph-dataGraph {
    width: 100%;
    position: absolute;
    top: 150px;
    left: 200px;
  }
  .integration__graph-lamp {
    position: absolute;
    top: -40%;
    left: 230px;
  }
  .integration__graph-monochromeGraph {
    width: 80%;
    position: absolute;
    top: 80px;
    left: -150px;
  }
  .integration__graph-pinkBlueGraph {
    display: none;
  }
}

.qrcode {
  margin-top: 300px;
  padding: 0;
}
@media screen and (max-width: 1199px) {
  .qrcode {
    margin-top: 150px;
  }
}
@media screen and (max-width: 768px) {
  .qrcode {
    margin-top: 100px;
  }
}
.qrcode__bgFull {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .qrcode__bgFull {
    display: none;
  }
}
.qrcode__bgMin {
  display: none;
}
@media screen and (max-width: 768px) {
  .qrcode__bgMin {
    display: block;
    width: 100%;
  }
  .qrcode__bgMin-cocktail {
    max-width: 500px;
  }
}
.qrcode__content {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
}
@media screen and (max-width: 1199px) {
  .qrcode__content {
    flex-direction: column;
    align-items: center;
  }
}
.qrcode__mainContent {
  max-width: 400px;
  margin-right: 50px;
  transform: translateY(-150px);
  padding: 0 20px;
}
@media screen and (max-width: 1199px) {
  .qrcode__mainContent {
    width: 100%;
    max-width: none;
    transform: translateY(-100px);
    margin-right: 0;
    align-self: start;
  }
}
.qrcode__phones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .qrcode__phones {
    transform: translateY(-50px);
    flex-direction: column;
    padding: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .qrcode__phone {
    width: 100%;
  }
}
.qrcode__phone:first-child {
  margin-right: 40px;
  transform: translateY(-70%);
}
@media screen and (max-width: 1199px) {
  .qrcode__phone:first-child {
    transform: none;
  }
}
@media screen and (max-width: 768px) {
  .qrcode__phone:first-child {
    margin-right: 0;
    margin-bottom: 40px;
  }
}
.qrcode__phone:last-child {
  transform: translateY(-20%);
}
@media screen and (max-width: 1199px) {
  .qrcode__phone:last-child {
    transform: none;
  }
}
.qrcode__links {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .qrcode__links {
    margin: 50px auto 0 auto;
    flex-direction: column;
  }
}
.qrcode__link {
  border-radius: 10px;
  transition: all 0.2s ease;
}
@media screen and (max-width: 768px) {
  .qrcode__link:first-child {
    margin-bottom: 20px;
  }
}
.qrcode__link:hover {
  transform: scale(1.05);
  box-shadow: 15px 5px 15px rgba(236, 236, 236, 0.1);
}
.qrcode__linkImage {
  width: 100%;
  height: 100%;
  max-width: 160px;
}

.generateQrCode {
  position: relative;
}
@media screen and (max-width: 1199px) {
  .generateQrCode {
    margin-top: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column-reverse;
  }
}
.generateQrCode__bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
@media screen and (max-width: 1199px) {
  .generateQrCode__bg {
    top: 50%;
  }
}
.generateQrCode__phoneBlock {
  width: fit-content;
  margin: 20px auto;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .generateQrCode__phoneBlock {
    width: 60%;
  }
}
.generateQrCode__phoneBlock:after {
  content: "";
  width: 1000px;
  height: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -450px;
  margin-left: -500px;
  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  opacity: 0.15;
  filter: blur(155.784px);
  border-radius: 476.034px;
  transform: rotate(-0.55deg);
}
@media screen and (max-width: 768px) {
  .generateQrCode__phoneBlock:after {
    width: 600px;
    height: 500px;
    margin-top: -250px;
    margin-left: -300px;
  }
}
.generateQrCode__arrow {
  position: absolute;
  top: 30%;
  left: 110%;
  z-index: 1;
}
@media screen and (max-width: 1199px) {
  .generateQrCode__arrow {
    display: none;
  }
}
.generateQrCode__AdaptiveArrow {
  display: none;
}
@media screen and (max-width: 1199px) {
  .generateQrCode__AdaptiveArrow {
    display: block;
    position: absolute;
    top: 85%;
    left: 80%;
    z-index: 1;
  }
}
@media screen and (max-width: 768px) {
  .generateQrCode__AdaptiveArrow {
    position: absolute;
    top: 90%;
    left: 85%;
  }
}
@media screen and (max-width: 429px) {
  .generateQrCode__AdaptiveArrow {
    position: absolute;
    top: 80%;
    left: 60%;
  }
}
.generateQrCode__phone {
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .generateQrCode__phone {
    margin: 0 auto;
    width: 100%;
  }
}
.generateQrCode__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 1199px) {
  .generateQrCode__content {
    flex-direction: column;
    margin-bottom: 50px;
    align-self: start;
  }
}
.generateQrCode__title {
  max-width: 380px;
}
.generateQrCode__text {
  max-width: 300px;
}

.easierOrdering {
  margin-top: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.easierOrdering__content {
  align-self: end;
  position: relative;
}
.easierOrdering__content:after {
  content: "";
  width: 200px;
  height: 200px;
  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  opacity: 0.5;
  filter: blur(125px);
  transform: rotate(5.78deg);
  position: absolute;
  top: 100%;
  left: 80%;
}
@media screen and (max-width: 1199px) {
  .easierOrdering__content {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 768px) {
  .easierOrdering__content {
    margin-bottom: 150px;
    width: 100%;
    align-self: start;
  }
}
@media screen and (max-width: 429px) {
  .easierOrdering__content {
    margin-bottom: 80px;
  }
}
.easierOrdering__phoneBlock {
  width: 50%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .easierOrdering__phoneBlock {
    width: 100%;
  }
}
.easierOrdering__phone {
  width: 100%;
}
.easierOrdering__text {
  margin: 0;
}
@media screen and (max-width: 429px) {
  .easierOrdering__text {
    font-size: 12px;
  }
}
.easierOrdering__information {
  width: 100%;
  max-width: 250px;
  padding: 20px;
  background: #000000;
  border: 0.76007px solid rgba(255, 255, 255, 0.5);
  border-radius: 18.2417px;
}
@media screen and (max-width: 768px) {
  .easierOrdering__information {
    max-width: 150px;
    padding: 10px;
    border-radius: 10px;
  }
}
.easierOrdering__information-creditCards1 {
  position: absolute;
  top: 10%;
  left: 70%;
}
@media screen and (max-width: 768px) {
  .easierOrdering__information-creditCards1 {
    position: absolute;
    top: 10%;
    left: 55%;
  }
}
@media screen and (max-width: 429px) {
  .easierOrdering__information-creditCards1 {
    position: absolute;
    top: 10%;
    left: 45%;
  }
}
.easierOrdering__information-creditCards2 {
  position: absolute;
  top: 30%;
  left: -10%;
}
@media screen and (max-width: 1199px) {
  .easierOrdering__information-creditCards2 {
    position: absolute;
    top: -20%;
    left: -10%;
  }
}
@media screen and (max-width: 768px) {
  .easierOrdering__information-creditCards2 {
    position: absolute;
    top: -10%;
    left: 15%;
  }
}
@media screen and (max-width: 429px) {
  .easierOrdering__information-creditCards2 {
    position: absolute;
    top: -20%;
    left: 5%;
  }
}
.easierOrdering__information-skipLine {
  position: absolute;
  top: 70%;
  left: 20%;
  max-width: 150px;
}
@media screen and (max-width: 1199px) {
  .easierOrdering__information-skipLine {
    position: absolute;
    top: 90%;
    left: 20%;
  }
}
@media screen and (max-width: 768px) {
  .easierOrdering__information-skipLine {
    position: absolute;
    top: 72%;
    left: 15%;
    max-width: 120px;
  }
}
.easierOrdering__information-splitTab {
  position: absolute;
  top: 60%;
  left: 80%;
  max-width: 180px;
}
@media screen and (max-width: 1199px) {
  .easierOrdering__information-splitTab {
    position: absolute;
    top: 100%;
    left: 80%;
  }
}
@media screen and (max-width: 768px) {
  .easierOrdering__information-splitTab {
    position: absolute;
    top: 95%;
    left: 60%;
    max-width: 140px;
  }
}

.noTab {
  margin: 300px 0;
  position: relative;
  display: flex;
  padding: 0 40px;
}
@media screen and (max-width: 768px) {
  .noTab {
    display: none;
  }
}
.noTab__bg {
  width: 100%;
  position: absolute;
  top: -40%;
  left: 0;
}
.noTab__phone {
  width: 100%;
  position: relative;
  z-index: 1;
}

.getInTouch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .getInTouch {
    margin-top: 100px;
  }
}
.getInTouch__form {
  width: 100%;
  max-width: 800px;
  margin-top: 50px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.getInTouch__form:after {
  content: "";
  width: 250px;
  height: 250px;
  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  opacity: 0.3;
  filter: blur(125px);
  transform: rotate(5.78deg);
  position: absolute;
  top: 60%;
  left: 100%;
  margin-top: -125px;
}
.getInTouch__input, .getInTouch__textarea {
  width: 100%;
  height: 80px;
  padding: 30px 20px;
  background: #FFFFFF;
  border: 1px solid #5C5C5C;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: all 0.2s ease;
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.getInTouch__input:focus, .getInTouch__textarea:focus {
  outline: none;
  box-shadow: 0 0 10px #fff;
}
.getInTouch__input.invalid, .getInTouch__textarea.invalid {
  border: 2px solid #ff0000;
  box-shadow: 0 0 10px #ff0000;
}
@media screen and (max-width: 768px) {
  .getInTouch__input, .getInTouch__textarea {
    font-family: "Noto Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
}
.getInTouch__input-margin, .getInTouch__textarea-margin {
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .getInTouch__input-margin, .getInTouch__textarea-margin {
    margin-right: 0;
  }
}
.getInTouch__textarea {
  min-height: 200px;
  resize: none;
}
.getInTouch__flexInput {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .getInTouch__flexInput {
    flex-direction: column;
  }
}
.getInTouch__button {
  padding: 25px;
  background: #000000;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease;
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .getInTouch__button {
    font-family: "Noto Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
}
.getInTouch__button:hover {
  background: #fff;
  color: #000;
}
.getInTouch__textContent {
  text-align: center;
  max-width: 800px;
  position: relative;
}
.getInTouch__textContent:after {
  content: "";
  width: 250px;
  height: 250px;
  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  opacity: 0.3;
  filter: blur(125px);
  transform: rotate(5.78deg);
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -125px;
}

.footer {
  margin-top: 100px;
}
.footer__download {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.footer__downloadTitle {
  margin: 0;
  font-family: inherit;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
}
@media screen and (max-width: 1199px) {
  .footer__downloadTitle {
    font-size: 24px;
  }
}
.footer__downloadLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  max-width: 380px;
}
@media screen and (max-width: 768px) {
  .footer__downloadLinks {
    flex-direction: column;
  }
}
.footer__downloadLink {
  border-radius: 10px;
  transition: all 0.2s ease;
  position: relative;
  z-index: 1;
}
.footer__downloadLink:hover {
  transform: scale(1.05);
  box-shadow: 15px 5px 15px rgba(236, 236, 236, 0.1);
}
.footer__downloadLink img {
  width: 100%;
  height: 50px;
  max-width: 160px;
}
@media screen and (max-width: 768px) {
  .footer__downloadLink img {
    margin-bottom: 15px;
  }
}
.footer__links {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.footer__logo {
  position: relative;
  z-index: 1;
}
.footer__contacts {
  position: relative;
}
.footer__contacts:after {
  content: "";
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  opacity: 0.3;
  filter: blur(125px);
  transform: rotate(5.78deg);
}
@media screen and (max-width: 768px) {
  .footer__contacts:after {
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }
}
.footer__link {
  text-decoration: none;
  color: #fff;
  margin-bottom: 10px;
  position: relative;
}
.footer__link:after {
  content: "";
  width: 0;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  transition: all 0.2s ease;
}
.footer__link:hover:after {
  width: 100%;
}
.footer__privacy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
