@import "../custom";

.footer {
  margin-top: 100px;
  &__download {
    text-align: center;
    @include flex(space-around, center, column);
  }

  &__downloadTitle {
    margin: 0;
    @include customFont(inherit, 35px, normal, 700);
    line-height: 70px;

    @media screen and (max-width: $mediaLarge) {
      font-size: 24px;
    }
  }

  &__downloadLinks {
    @include flex(space-around, center, row);
    width: 100%;
    max-width: 380px;

    @media screen and (max-width: $mediaMedium) {
      flex-direction: column;
    }
  }

  &__downloadLink {
    border-radius: 10px;
    transition: all .2s ease;
    position: relative;
    z-index: 1;

    &:hover {
      transform: scale(1.05);
      box-shadow: 15px 5px 15px rgba(236, 236, 236, 0.1);
    }

    & img {
      width: 100%;
      height: 50px;
      max-width: 160px;
      @media screen and (max-width: $mediaMedium) {
        margin-bottom: 15px;
      }
    }
  }

  &__links {
    margin-top: 50px;
    @include flex(space-between, center, row);

    @media screen and (max-width: $mediaMedium) {
      flex-direction: column-reverse;
    }
  }

  &__logo {
    position: relative;
    z-index: 1;
  }

  &__contacts {
    position: relative;

    @media screen and (max-width: $mediaMedium) {
      text-align: center;
    }

    &:after {
      content: "";
      width: 400px;
      height: 400px;

      @include positionAbsolute(50%, 50%);
      margin-top: -200px;
      margin-left: -200px;

      background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
      opacity: 0.3;
      filter: blur(125px);
      transform: rotate(5.78deg);

      @media screen and (max-width: $mediaMedium) {
        width: 200px;
        height: 200px;
        margin-top: -100px;
        margin-left: -100px;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
    position: relative;

    @media screen and (max-width: $mediaMedium) {
      &:last-child {
        margin-bottom: 40px;
      }
    }

    &:after {
      content: "";
      width: 0;
      height: 2px;
      background: #fff;
      @include positionAbsolute(100%, 0);
      transition: all .2s ease;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
  }

  &__privacy {
    @include flex(space-between, center, column);
  }
}