@import "../custom";

.scanner {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;

  &__imgContainer {
    display: flex;
    height: fit-content;
    margin-right: 20px;
    transform: translateY(-70%);
    @media screen and (max-width: $mediaLarge) {
      transform: none;
    }
    @media screen and (max-width: $mediaMedium) {
      margin-right: 0;
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
  }

  &__img {
    &:first-child {
      margin-right: 50px;

      @media screen and (max-width: $mediaMedium) {
        margin-right: 0;
        margin-bottom: 50px;
      }
    }
    @media screen and (max-width: $mediaMedium) {
      width: 100%;
      max-width: 350px;
    }
  }

  &__content {
    height: 300px;
    padding: 0 100px;
    display: flex;
    justify-content: center;

    @media screen and (max-width: $mediaLarge) {
      flex-direction: column-reverse;
      justify-content: flex-start;
      height: fit-content;
      align-items: center;
      padding: 0 50px;
    }

    @media screen and (max-width: $mediaMedium) {
      padding: 0 20px;
    }
  }

  &__textContent {
    max-width: 400px;
    transform: translateY(-30%);

    @media screen and (max-width: $mediaLarge) {
      max-width: none;
    }
  }

  &__bg {
    width: 100%;
  }
}