$mediaLarge: 1199px;
$mediaMedium: 768px;
$mediaSmall: 429px;

@mixin customFont ($ff, $fz, $fs, $fw) {
  font-family: $ff;
  font-size: $fz;
  font-style: $fs;
  font-weight: $fw;
}

@mixin flex($jc, $ai, $fld) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fld;
}

@mixin positionAbsolute ($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}