@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans'), local('NotoSans'), url('../fonts/noto/notosans.woff2') format('woff2'), url('../fonts/noto/notosans.woff') format('woff'), url('../fonts/noto/notosans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Italic'), local('NotoSans-Italic'), url('../fonts/noto/notosansitalic.woff2') format('woff2'), url('../fonts/noto/notosansitalic.woff') format('woff'), url('../fonts/noto/notosansitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url('../fonts/noto/notosansbold.woff2') format('woff2'), url('../fonts/noto/notosansbold.woff') format('woff'), url('../fonts/noto/notosansbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'), url('../fonts/noto/notosansbolditalic.woff2') format('woff2'), url('../fonts/noto/notosansbolditalic.woff') format('woff'), url('../fonts/noto/notosansbolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}