@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Thin.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Thin.woff") format("woff");
  font-weight: 1;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Thin.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ThinItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ThinItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 1;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Light.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-LightItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Italic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-BoldItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Black.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-BlackItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Noto Sans";
  src: local("Noto Sans"), local("NotoSans"), url("../fonts/noto/notosans.woff2") format("woff2"), url("../fonts/noto/notosans.woff") format("woff"), url("../fonts/noto/notosans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: local("Noto Sans Italic"), local("NotoSans-Italic"), url("../fonts/noto/notosansitalic.woff2") format("woff2"), url("../fonts/noto/notosansitalic.woff") format("woff"), url("../fonts/noto/notosansitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Noto Sans";
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url("../fonts/noto/notosansbold.woff2") format("woff2"), url("../fonts/noto/notosansbold.woff") format("woff"), url("../fonts/noto/notosansbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: local("Noto Sans Bold Italic"), local("NotoSans-BoldItalic"), url("../fonts/noto/notosansbolditalic.woff2") format("woff2"), url("../fonts/noto/notosansbolditalic.woff") format("woff"), url("../fonts/noto/notosansbolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

section,
header,
main,
footer {
  padding: 0 100px;
}
@media screen and (max-width: 1199px) {
  section,
header,
main,
footer {
    padding: 0 50px;
  }
}
@media screen and (max-width: 768px) {
  section,
header,
main,
footer {
    padding: 0 20px;
  }
}

body {
  margin: 0;
  background: #000000;
  font-family: "Montserrat", serif;
  color: #fff;
  overflow-x: hidden;
}

.title {
  margin: 0;
  font-family: inherit;
  font-size: 51px;
  font-style: normal;
  font-weight: 700;
  line-height: 62px;
}
@media screen and (max-width: 1199px) {
  .title {
    font-family: inherit;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-family: inherit;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
  }
}

.text {
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
@media screen and (max-width: 768px) {
  .text {
    font-family: "Noto Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
@media screen and (max-width: 1199px) {
  .header {
    width: 100%;
    justify-content: space-between;
  }
}
.header__logoContainer {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 10px 0;
  margin: 0 100px 0 0;
}
@media screen and (max-width: 1199px) {
  .header__logo {
    max-width: 75px;
  }
}
@media screen and (max-width: 429px) {
  .header__logo {
    max-width: 50px;
  }
}
.header__title {
  font-family: inherit;
  font-size: 44px;
  font-style: normal;
  font-weight: bold;
  margin: 0;
}
@media screen and (max-width: 1199px) {
  .header__title {
    font-size: 32px;
  }
}
@media screen and (max-width: 429px) {
  .header__title {
    max-width: 24px;
  }
}
.header__loginContainer {
  display: flex;
  align-items: center;
}
.header__loginImg {
  margin: 0 15px 0 0;
}
@media screen and (max-width: 429px) {
  .header__loginImg {
    display: none;
  }
}
.header__loginLink {
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  position: relative;
}
.header__loginLink:after {
  content: "";
  height: 1px;
  width: 0;
  background: #fff;
  transition: all 0.2s ease;
  position: absolute;
  bottom: 0;
  left: 0;
}
.header__loginLink:hover:after {
  width: 100%;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1199px) {
  .main {
    padding-right: 0;
  }
}
.main__column-1 {
  width: 50%;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .main__column-1 {
    width: 70%;
  }
}
.main__descriptionContainer {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .main__circle {
    display: none;
  }
}
.main__description {
  max-width: 380px;
  align-self: center;
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  transform: translateX(-120px) translateY(40px);
}
@media screen and (max-width: 1199px) {
  .main__description {
    transform: none;
  }
}
@media screen and (max-width: 429px) {
  .main__description {
    font-size: 16px;
    line-height: 20px;
    max-width: 280px;
  }
}
.main__title {
  font-family: inherit;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
}
@media screen and (max-width: 1199px) {
  .main__title {
    font-size: 54px;
    margin-bottom: 0;
    line-height: 50px;
  }
}
@media screen and (max-width: 768px) {
  .main__title {
    font-size: 40px;
  }
}
@media screen and (max-width: 429px) {
  .main__title {
    font-size: 30px;
    line-height: 40px;
  }
}
.main__column-2 {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .main__column-2 {
    width: 30%;
  }
}
.main__phoneImage {
  width: 100%;
  max-width: 532px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .main__phoneImage {
    width: 320px;
    transform: translateX(50%);
  }
}
.main__bg {
  position: absolute;
  top: 0;
  right: -100px;
  z-index: 0;
}

.download {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 160px;
}
@media screen and (max-width: 1199px) {
  .download {
    padding-right: 50px;
  }
}
@media screen and (max-width: 768px) {
  .download {
    flex-direction: column;
  }
}
.download__title {
  margin: 0;
  font-family: inherit;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
}
@media screen and (max-width: 1199px) {
  .download__title {
    font-size: 24px;
  }
}
.download__linksContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 380px;
}
@media screen and (max-width: 768px) {
  .download__linksContainer {
    flex-direction: column;
    align-items: center;
  }
}
.download__linkImage {
  width: 100%;
  height: 100%;
  max-width: 160px;
}
@media screen and (max-width: 768px) {
  .download__linkImage {
    margin-bottom: 15px;
  }
}
.download__link {
  border-radius: 10px;
  transition: all 0.2s ease;
}
.download__link:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(236, 236, 236, 0.5);
}

.questions {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  min-height: 80vh;
}
@media screen and (max-width: 1199px) {
  .questions {
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
  }
}
.questions__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  min-height: 300px;
  padding: 20px 50px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 21.3671px;
}
.questions__container:first-child {
  margin-right: 20px;
}
@media screen and (max-width: 1199px) {
  .questions__container:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .questions__container {
    padding: 10px 25px;
    min-height: 200px;
  }
}
.questions__text {
  font-family: "Noto Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 41px;
}
@media screen and (max-width: 768px) {
  .questions__text {
    font-size: 24px;
    line-height: 33px;
  }
}
.questions__link {
  font-family: "Noto Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .questions__link {
    font-size: 18px;
    line-height: 25px;
  }
}

.ourMission {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}
@media screen and (max-width: 1199px) {
  .ourMission {
    flex-direction: column-reverse;
    margin-top: 100px;
  }
}
.ourMission__content {
  max-width: 400px;
  position: relative;
}
.ourMission__image {
  width: 100%;
  transform: rotate(90deg) translateY(30%);
}
@media screen and (max-width: 1199px) {
  .ourMission__image {
    transform: none;
  }
}
.ourMission__title {
  position: relative;
  z-index: 1;
}
.ourMission__text {
  position: relative;
  z-index: 1;
}
.ourMission__circle {
  width: 85px;
  height: 85px;
  background: #F101BF;
  opacity: 0.7;
  filter: blur(50px);
  position: absolute;
  top: -10%;
  right: 10%;
  z-index: 0;
}
@media screen and (max-width: 768px) {
  .ourMission__circle {
    left: 0;
  }
}

.scanner {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
}
.scanner__imgContainer {
  display: flex;
  height: fit-content;
  margin-right: 20px;
  transform: translateY(-70%);
}
@media screen and (max-width: 1199px) {
  .scanner__imgContainer {
    transform: none;
  }
}
@media screen and (max-width: 768px) {
  .scanner__imgContainer {
    margin-right: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
.scanner__img:first-child {
  margin-right: 50px;
}
@media screen and (max-width: 768px) {
  .scanner__img:first-child {
    margin-right: 0;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  .scanner__img {
    width: 100%;
    max-width: 350px;
  }
}
.scanner__content {
  height: 300px;
  padding: 0 100px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1199px) {
  .scanner__content {
    flex-direction: column-reverse;
    justify-content: flex-start;
    height: fit-content;
    align-items: center;
    padding: 0 50px;
  }
}
@media screen and (max-width: 768px) {
  .scanner__content {
    padding: 0 20px;
  }
}
.scanner__textContent {
  max-width: 400px;
  transform: translateY(-30%);
}
@media screen and (max-width: 1199px) {
  .scanner__textContent {
    max-width: none;
  }
}
.scanner__bg {
  width: 100%;
}

.integration {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-top: 100px;
  width: 100%;
}
@media screen and (max-width: 1199px) {
  .integration {
    flex-direction: column;
    align-items: center;
  }
}
.integration__textContent {
  max-width: 497px;
}
@media screen and (max-width: 1199px) {
  .integration__textContent {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 768px) {
  .integration__textContent {
    margin-bottom: 150px;
  }
}
.integration__graphics {
  width: 100%;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .integration__graphics {
    max-width: 300px;
    min-height: 300px;
  }
}
.integration__graph-blueCircles {
  position: absolute;
  top: 0;
  left: 70px;
}
.integration__graph-blueGraphWithDots {
  position: absolute;
  top: 100px;
  left: 200px;
  z-index: 1;
}
.integration__graph-blueVerticalGraph {
  position: absolute;
  top: 200px;
  left: 100px;
}
.integration__graph-dataGraph {
  position: absolute;
  top: 250px;
  left: 350px;
}
.integration__graph-lamp {
  position: absolute;
  top: 0;
  left: 380px;
}
.integration__graph-monochromeGraph {
  position: absolute;
  top: -200px;
  left: 250px;
}
.integration__graph-pinkBlueGraph {
  position: absolute;
  top: 70px;
  left: -50px;
}
@media screen and (max-width: 1199px) {
  .integration__graph {
    width: 50%;
  }
  .integration__graph-blueCircles {
    position: absolute;
    top: 0;
    left: -100px;
  }
  .integration__graph-blueGraphWithDots {
    position: absolute;
    top: -50px;
    left: 200px;
    z-index: 1;
  }
  .integration__graph-blueVerticalGraph {
    position: absolute;
    top: 50px;
    left: 50px;
  }
  .integration__graph-dataGraph {
    width: 100%;
    position: absolute;
    top: 150px;
    left: 350px;
  }
  .integration__graph-lamp {
    position: absolute;
    top: -40%;
    left: 330px;
  }
  .integration__graph-monochromeGraph {
    width: 80%;
    position: absolute;
    top: 100px;
    left: -200px;
  }
  .integration__graph-pinkBlueGraph {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .integration__graph {
    width: 40%;
  }
  .integration__graph-blueCircles {
    position: absolute;
    top: 0;
    left: -20px;
  }
  .integration__graph-blueGraphWithDots {
    position: absolute;
    top: -50px;
    left: 120px;
    z-index: 1;
  }
  .integration__graph-blueVerticalGraph {
    position: absolute;
    top: 50px;
    left: 100px;
  }
  .integration__graph-dataGraph {
    width: 100%;
    position: absolute;
    top: 150px;
    left: 200px;
  }
  .integration__graph-lamp {
    position: absolute;
    top: -40%;
    left: 230px;
  }
  .integration__graph-monochromeGraph {
    width: 80%;
    position: absolute;
    top: 80px;
    left: -150px;
  }
  .integration__graph-pinkBlueGraph {
    display: none;
  }
}

.qrcode {
  margin-top: 300px;
  padding: 0;
}
@media screen and (max-width: 1199px) {
  .qrcode {
    margin-top: 150px;
  }
}
@media screen and (max-width: 768px) {
  .qrcode {
    margin-top: 100px;
  }
}
.qrcode__bgFull {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .qrcode__bgFull {
    display: none;
  }
}
.qrcode__bgMin {
  display: none;
}
@media screen and (max-width: 768px) {
  .qrcode__bgMin {
    display: block;
    width: 100%;
  }
  .qrcode__bgMin-cocktail {
    max-width: 500px;
  }
}
.qrcode__content {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
}
@media screen and (max-width: 1199px) {
  .qrcode__content {
    flex-direction: column;
    align-items: center;
  }
}
.qrcode__mainContent {
  max-width: 400px;
  margin-right: 50px;
  transform: translateY(-150px);
  padding: 0 20px;
}
@media screen and (max-width: 1199px) {
  .qrcode__mainContent {
    transform: translateY(-100px);
    margin-right: 0;
  }
}
.qrcode__phones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .qrcode__phones {
    transform: translateY(-50px);
    flex-direction: column;
    padding: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .qrcode__phone {
    width: 100%;
  }
}
.qrcode__phone:first-child {
  margin-right: 40px;
  transform: translateY(-70%);
}
@media screen and (max-width: 1199px) {
  .qrcode__phone:first-child {
    transform: none;
  }
}
@media screen and (max-width: 768px) {
  .qrcode__phone:first-child {
    margin-right: 0;
    margin-bottom: 40px;
  }
}
.qrcode__phone:last-child {
  transform: translateY(-20%);
}
@media screen and (max-width: 1199px) {
  .qrcode__phone:last-child {
    transform: none;
  }
}
.qrcode__links {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .qrcode__links {
    flex-direction: column;
  }
}
.qrcode__link {
  border-radius: 10px;
  transition: all 0.2s ease;
}
@media screen and (max-width: 768px) {
  .qrcode__link:first-child {
    margin-bottom: 20px;
  }
}
.qrcode__link:hover {
  transform: scale(1.05);
  box-shadow: 0 -8px 15px rgba(236, 236, 236, 0.5);
}
.qrcode__linkImage {
  width: 100%;
  height: 100%;
  max-width: 160px;
}

/*# sourceMappingURL=style.css.map */
