@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Thin.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Thin.woff") format("woff");
  font-weight: 1;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Thin.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ThinItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ThinItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 1;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Light.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-LightItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Italic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-BoldItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Black.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-BlackItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Noto Sans";
  src: local("Noto Sans"), local("NotoSans"), url("../fonts/noto/notosans.woff2") format("woff2"), url("../fonts/noto/notosans.woff") format("woff"), url("../fonts/noto/notosans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: local("Noto Sans Italic"), local("NotoSans-Italic"), url("../fonts/noto/notosansitalic.woff2") format("woff2"), url("../fonts/noto/notosansitalic.woff") format("woff"), url("../fonts/noto/notosansitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Noto Sans";
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url("../fonts/noto/notosansbold.woff2") format("woff2"), url("../fonts/noto/notosansbold.woff") format("woff"), url("../fonts/noto/notosansbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: local("Noto Sans Bold Italic"), local("NotoSans-BoldItalic"), url("../fonts/noto/notosansbolditalic.woff2") format("woff2"), url("../fonts/noto/notosansbolditalic.woff") format("woff"), url("../fonts/noto/notosansbolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

section,
header,
main,
footer {
  padding: 0 100px;
}
@media screen and (max-width: 1199px) {
  section,
header,
main,
footer {
    padding: 0 50px;
  }
}
@media screen and (max-width: 768px) {
  section,
header,
main,
footer {
    padding: 0 20px;
  }
}

body {
  margin: 0;
  background: #000000;
  font-family: "Montserrat", serif;
  color: #fff;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
@media screen and (max-width: 1199px) {
  .header {
    width: 100%;
    justify-content: space-between;
  }
}
.header__logoContainer {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 10px 0;
  margin: 0 100px 0 0;
}
@media screen and (max-width: 1199px) {
  .header__logo {
    max-width: 75px;
  }
}
@media screen and (max-width: 429px) {
  .header__logo {
    max-width: 50px;
  }
}
.header__title {
  font-family: inherit;
  font-size: 44px;
  font-style: normal;
  font-weight: bold;
  margin: 0;
}
@media screen and (max-width: 1199px) {
  .header__title {
    font-size: 32px;
  }
}
@media screen and (max-width: 429px) {
  .header__title {
    max-width: 24px;
  }
}
.header__loginContainer {
  display: flex;
  align-items: center;
}
.header__loginImg {
  margin: 0 15px 0 0;
}
@media screen and (max-width: 429px) {
  .header__loginImg {
    display: none;
  }
}
.header__loginLink {
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  position: relative;
}
.header__loginLink:after {
  content: "";
  height: 1px;
  width: 0;
  background: #fff;
  transition: all 0.2s ease;
  position: absolute;
  bottom: 0;
  left: 0;
}
.header__loginLink:hover:after {
  width: 100%;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1199px) {
  .main {
    padding-right: 0;
  }
}
.main__column-1 {
  width: 50%;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .main__column-1 {
    width: 70%;
  }
}
.main__descriptionContainer {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .main__circle {
    display: none;
  }
}
.main__description {
  max-width: 380px;
  align-self: center;
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  transform: translateX(-120px) translateY(40px);
}
@media screen and (max-width: 1199px) {
  .main__description {
    transform: none;
  }
}
@media screen and (max-width: 429px) {
  .main__description {
    font-size: 16px;
    line-height: 20px;
    max-width: 280px;
  }
}
.main__title {
  font-family: inherit;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
}
@media screen and (max-width: 1199px) {
  .main__title {
    font-size: 54px;
    margin-bottom: 0;
    line-height: 50px;
  }
}
@media screen and (max-width: 768px) {
  .main__title {
    font-size: 40px;
  }
}
@media screen and (max-width: 429px) {
  .main__title {
    font-size: 30px;
    line-height: 40px;
  }
}
.main__column-2 {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .main__column-2 {
    width: 30%;
  }
}
.main__phoneImage {
  width: 100%;
  max-width: 532px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .main__phoneImage {
    width: 320px;
    transform: translateX(50%);
  }
}
.main__bg {
  position: absolute;
  top: 0;
  right: -100px;
  z-index: 0;
}

.download {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 160px;
}
@media screen and (max-width: 1199px) {
  .download {
    padding-right: 50px;
  }
}
@media screen and (max-width: 768px) {
  .download {
    flex-direction: column;
  }
}
.download__title {
  margin: 0;
  font-family: inherit;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
}
@media screen and (max-width: 1199px) {
  .download__title {
    font-size: 24px;
  }
}
.download__linksContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 380px;
}
@media screen and (max-width: 768px) {
  .download__linksContainer {
    flex-direction: column;
    align-items: center;
  }
}
.download__linkImage {
  width: 100%;
  height: 100%;
  max-width: 160px;
}
@media screen and (max-width: 768px) {
  .download__linkImage {
    margin-bottom: 15px;
  }
}
.download__link {
  border-radius: 10px;
  transition: all 0.2s ease;
}
.download__link:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(236, 236, 236, 0.5);
}

.questions {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  min-height: 80vh;
}
@media screen and (max-width: 1199px) {
  .questions {
    justify-content: center;
    flex-direction: column;
  }
}
.questions__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  min-height: 300px;
  padding: 20px 50px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 21.3671px;
}
.questions__container:first-child {
  margin-right: 20px;
}
@media screen and (max-width: 1199px) {
  .questions__container:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .questions__container {
    padding: 10px 25px;
    min-height: 200px;
  }
}
.questions__text {
  font-family: "Noto Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 41px;
}
@media screen and (max-width: 768px) {
  .questions__text {
    font-size: 24px;
    line-height: 33px;
  }
}
.questions__link {
  font-family: "Noto Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .questions__link {
    font-size: 18px;
    line-height: 25px;
  }
}

.ourMission {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}
.ourMission__content {
  max-width: 300px;
}
.ourMission__image {
  transform: rotate(90deg) translateY(30%);
}

/*# sourceMappingURL=style.css.map */
